<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.tiwiz.whatsong"
    android:versionCode="12"
    android:versionName="0.3.6-alpha" >

    <application
        android:name=".WhatSongApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".WhatSongExtension"
            android:icon="@drawable/whatsong_logo"
            android:label="WhatSong"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/extension_description" />
        </service>

        <activity
            android:name=".ShortcutActivity"
            android:icon="@drawable/whatsong_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WhatSongActivity"
            android:exported="true"
            android:label="@string/settings_title"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SearchInstalledProvidersService"
            android:exported="false" >
        </service>

        <activity
            android:name=".views.GoogleNowActivity"
            android:label="@string/title_activity_google_now" >
        </activity>
    </application>

</manifest>
